*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 184, 155);
}

.panel{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.top-panel{
    color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0px 30%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: rgb(72,104,72);
}

.bottom-panel{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
	overflow-y: auto; 
    max-height: 70vh;
}


.box{
    display: flex;
    gap: 20px;
    
}

.value{
    color: rgb(18, 119, 57);
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}

#p1{
    align-items: center;
    justify-content: center;
}

.bubble{
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(124, 64%, 50%);
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(31, 160, 40);
}

@media (max-width: 580px) {
	.top-panel{
    color: #fff;
    width: 100%;
    height: 60px;
	font-size: 12px;
    display: flex;
    padding: 0px 30%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: rgb(72,104,72);
	}
	
	.panel{
    width: 80%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
	}
	
    .bubble {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .value {
        font-size: 16px;
        padding: 8px 15px;
    }
}